*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, .game-wrapper, .game-stage {
    margin: 0px;
    border: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;
}

.game-wrapper {
    background-color: #000000;
}

.loading-ui {
    position: absolute;
    top: 20px;
    right: 0px;
    left: 0px;

    z-index: 200;
    visibility: hidden;

    text-align: center;

    font-family: sans-serif;
    color: #FFFFFF;
}

.main-menu-ui {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 200;
    visibility: hidden;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-menu-title {
    font-family: "Trade Winds", "serif";
    color: #FFFFFF;
    font-size: 64px;
}

.menu-option {
    border: 0px;
    border-radius: 6px;

    font-family: "Exo", sans-serif;
    color: #FFFFFF;
    font-size: 32px;

    background-color: rgba(0, 0, 0, 0.1);
}

.menu-option:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.in-game-ui {
    position: absolute;

    z-index: 400;
    visibility: hidden;
}

.score {
    color: #FFFFFF;
    font-family: "Exo", sans-serif;
    font-size: 70px;

    position: absolute;

    top: 20px;
    left: 20px;
}

.game-over-text {
    color: #FFF;

    font-family: "Exo", sans-serif;
    font-size: 70px;

    position: absolute;
    top: 20px;
    right: 0px;
    left: 0px;

    text-align: center;

    z-index: 200;

    visibility: hidden;
}

.play-again {
    color: #FFF;

    background-color: #555;
    border-radius: 20px;

    font-family: "Exo", sans-serif;
    font-size: 70px;

    position: absolute;
    bottom: 20px;
    right: 0px;
    left: 0px;

    text-align: center;

    z-index: 200;

    visibility: hidden;
}
